@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

body,
#root {
  min-height: 100vh;
}

#root {
  background-color: var(--color-base-300);
}
